{% extends 'writing_system/base.html' %}

{% block title %}Элементы японской писменности - создать{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Создать буквы</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Хирагана</h3>
                <p>Для создания нужно указать запись в системе Хепбёрна и загрузить изображение буквы</p>
                <a href="{% url 'form-hiragana' %}" class="btn btn-primary">
                    Создать
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Катакана</h3>
                <p>Для создания нужно указать запись в системе Хепбёрна и загрузить изображение буквы</p>
                <a href="{% url 'form-katakana' %}" class="btn btn-primary">
                    Создать
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Кандзи</h3>
                <p>Для создания нужно указать значение иероглифа, его кунное и онное чтения
                    и загрузить изображение буквы</p>
                <a href="{% url 'form-katakana' %}" class="btn btn-primary">
                    Создать
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}