{% extends 'writing_system/base.html' %}

{% block title %}Элементы японской писменности - заглавная страница{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-1 fw-bold">
            Сайт про изучение элементов японской писменности
        </h1>
        <p class="col-md-8 fs-4">
            Это заглавная страница сайта про изучение элементов японской писменности.
            <br>
            Владение японской письменностью имеет ценность само по себе,
            без относительно знания языка, т. к. позволяет узнать, как звучит тот или иной текст.
            <br>
            А звучание языка, в свою очередь, в отдельности от самого языка,
            представляет собой культурную и эстетическую ценность.
        </p>
    </div>
</div>
{% endblock %}